In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import xlrd

## Loading Data

#### To use this method, two files have to be saved in this direction: 

##### 1) Question Raw Data, named YYYYData.xls.  The "Report" sheet at the end MUST BE DELETED
##### 2) All Students, named YYYYStudents.xlsx.

In [124]:
def load_data(year):
    directory = './'+str(year)+'Data.xls'
    
    
    overallDF = pd.DataFrame()
    book = xlrd.open_workbook(directory) 
    num_sheets = len(book.sheets())

    sheet_names = book.sheet_names()
    sheet_names

    #GET ALL STUDENTS TO USE AS THE INDEX
    book_students = xlrd.open_workbook('./'+ str(year) + 'Students.xlsx')
    all_students = pd.read_excel('./'+ str(year) + 'Students.xlsx', 'Sheet1', header=None).iloc[:,0].tolist()
    
    for i in range(num_sheets):
        this_sheet = sheet_names[i]
        df = pd.read_excel(directory, this_sheet)
        df.set_index(df.columns[0], inplace=True)
        df = df.reindex(all_students)
        df = df.reset_index()
        overallDF = pd.concat([overallDF, df], axis=1)
    

    return overallDF

In [121]:
overalldf_2008 = load_data(2008)
overalldf_2009 = load_data(2009)
overalldf_2010 = load_data(2010)

In [127]:
overalldf_2011 = load_data(2011)

Alex Miller - 04-Physical Exam
Alex Miller - 03-History Alex M
Alex Miller - 05-Patient Satisf
Alex Miller - 01-Patient-Physic
Alex Miller - Patient Note Scor
Carol Whitman - 01-Patient-Phys
Carol Whitman - 04-Patient Sati
Carol Whitman - 03-SPIKES Proto
Carol Whitman - 02-History Caro
Corey Wolfe - 01-Patient-Physic
Corey Wolfe - 05-Patient Satisf
Corey Wolfe - 04-Physical Exam
Corey Wolfe - 03-History Corey
Dana Mitchell - 01-Patient-Phys
Dana Mitchell - 05-Patient Sati
Dana Mitchell - 04-Physical Exa
Dana Mitchell - 03-History Dana
Leslie Keats - 01-Patient-Physi
Leslie Keats - 05-Patient Satis
Leslie Keats - Patient Note Sco
Leslie Keats - 04-Physical Exam
Leslie Keats - 03-History Lesli
Margaret Lockheart - 03-Patient
Margaret Lockheart - 02-History
Margaret Lockheart - 01-Patient
Marty Elliot - 01-Patient-Physi
Marty Elliot - 05-Patient Satis
Marty Elliot - Patient Note Sco
Marty Elliot - 04-Physical Exam
Marty Elliot - 03-History Marty
Sam Swift (child) Kris Swift (g
Sam Swift (child) Kris Swi (1)
Sam Swift (child) Kris Swi (2)
Sam Swift (child) Kris Swi (3)
Sam Swift (child) Kris Swi (4)
Sam Swift (child) Kris Swift (p
Sam Swift (child) Kris Swi (5)
Sam Swift (child) Kris Swi (6)
Sam Swift (child) Kris Swi (7)
Sam Swift (child) Kris Swi (8)
Shawn Clancy - Patient Note Sco
Shawn Clancy - 04-Physical Exam
Shawn Clancy - 03-History Shawn
Shawn Clancy - 01-Patient-Physi
Shawn Clancy - 05-Patient Satis
Tessa Frost - 01-Patient-Physic
Tessa Frost - 05-Patient Satisf
Tessa Frost - Patient Note Scor
Tessa Frost - 04-Physical Exam
Tessa Frost - 03-History Tessa

In [4]:
directory_2009 = './'+str(year)+'Data.xls'

In [5]:
overallDF = pd.DataFrame()
book = xlrd.open_workbook(directory) 
num_sheets = len(book.sheets())

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [6]:
num_sheets

59

In [7]:
sheet_names = book.sheet_names()
sheet_names

[u'Alex Miller - 02-ACIR',
 u'Alex Miller - 05-Patient Satisf',
 u'Alex Miller - 01-Patient-Physic',
 u'Alex Miller - Patient Note Scor',
 u'Alex Miller - 04-Physical Exam ',
 u'Alex Miller - 03-History Alex M',
 u'Carol Whitman - 04-Patient Sati',
 u'Carol Whitman - 01-Patient-Phys',
 u'Carol Whitman - 03-SPIKES Proto',
 u'Carol Whitman - 02-History Caro',
 u'Corey Wolfe - 05-Patient Satisf',
 u'Corey Wolfe - 01-Patient-Physic',
 u'Corey Wolfe - 02-ACIR',
 u'Corey Wolfe - Patient Note Scor',
 u'Corey Wolfe - 04-Physical Exam ',
 u'Corey Wolfe - 03-History Corey ',
 u'Dana Mitchell - 05-Patient Sati',
 u'Dana Mitchell - 01-Patient-Phys',
 u'Dana Mitchell - 02-ACIR',
 u'Dana Mitchell - Patient Note Sc',
 u'Dana Mitchell - 04-Physical Exa',
 u'Dana Mitchell - 03-History Dana',
 u'Jamie Browning - 05-Patient Sat',
 u'Jamie Browning - 01-Patient-Phy',
 u'Jamie Browning - 02-ACIR',
 u'Jamie Browning - Patient Note S',
 u'Jamie Browning - 03-History Jam',
 u'Jamie Browning - 04-Physical Ex',
 u'Leslie Keats - 05-Patient Satis',
 u'Leslie Keats - 01-Patient-Physi',
 u'Leslie Keats - 02-ACIR',
 u'Leslie Keats - Patient Note Sco',
 u'Leslie Keats - 04-Physical Exam',
 u'Leslie Keats - 03-History Lesli',
 u'Marty Elliot - 04-Physical Exam',
 u'Marty Elliot - 03-History Marty',
 u'Marty Elliot - 05-Patient Satis',
 u'Marty Elliot - 01-Patient-Physi',
 u'Marty Elliot - 02-ACIR',
 u'Marty Elliot - Patient Note Sco',
 u'Sam Swift (child) Kris Swift (g',
 u'Sam Swift (child) Kris Swi (1)',
 u'Sam Swift (child) Kris Swi (2)',
 u'Sam Swift (child) Kris Swi (3)',
 u'Sam Swift (child) Kris Swi (4)',
 u'Sam Swift (child) Kris Swi (5)',
 u'Shawn Clancy - 05-Patient Satis',
 u'Shawn Clancy - 01-Patient-Physi',
 u'Shawn Clancy - 02-ACIR',
 u'Shawn Clancy - Patient Note Sco',
 u'Shawn Clancy - 04-Physical Exam',
 u'Shawn Clancy - 03-History Shawn',
 u'Tessa Frost - 05-Patient Satisf',
 u'Tessa Frost - 01-Patient-Physic',
 u'Tessa Frost - 02-ACIR',
 u'Tessa Frost - Patient Note Scor',
 u'Tessa Frost - 04-Physical Exam ',
 u'Tessa Frost - 03-History Tessa ',
 u'Report Info']

In [8]:
for i in range(num_sheets):
    this_sheet = sheet_names[i]
    df = pd.read_excel(directory, this_sheet)
    overallDF = pd.concat([overallDF, df], axis=1)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [9]:
overallDF.shape

(78, 971)

In [10]:
overallDF = overallDF.drop([0,1,2])

In [11]:
overallDF.head()

,Student Name_SP_TW,School ID_SP_TW,Class Year_SP_TW,Patient Name_SP_TW,Evaluator Name_SP_TW,Exam Date/Time_SP_TW,Q1_A_SP_TW,Q2_A_SP_TW,Q3_A_SP_TW,Q4_A_SP_TW,...,Q10_Hx_SP_LAP,Q11_Hx_SP_LAP,Q12_Hx_SP_LAP,Q13_Hx_SP_LAP,Q14_Hx_SP_LAP,Q15_Hx_SP_LAP,Total_Hx_SP_LAP,Total_SP_LAP,Question Raw Data,Unnamed: 1
3,"Angarita, Benjamin",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 11:00:04.420000,3,3,3,2,...,4,4,4,4,4,0,56.0,56.0,Students,75
4,"Austin, Naola",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-11 12:22:50.763000,4,4,3,3,...,0,4,4,4,4,4,48.0,48.0,NaN,NaN
5,"Ayodele, Maranatha",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 13:26:49.560000,3,3,4,3,...,0,0,0,0,4,0,32.0,32.0,Cases,Alex Miller
6,"Batavia, Ashita",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 09:56:40.403000,3,3,3,3,...,0,0,0,0,4,0,36.0,36.0,NaN,Carol Whitman
7,"Beesley, Sarah",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-24 12:06:31.140000,3,4,3,2,...,0,0,0,0,4,0,36.0,36.0,NaN,Corey Wolfe

In [12]:
for i in overallDF.columns:
    print (i)

Student Name_SP_TW
School ID_SP_TW
Class Year_SP_TW
Patient Name_SP_TW
Evaluator Name_SP_TW
Exam Date/Time_SP_TW
Q1_A_SP_TW
Q2_A_SP_TW
Q3_A_SP_TW
Q4_A_SP_TW
Q5_A_SP_TW
Q6_A_SP_TW
Q7_A_SP_TW
Q8_A_SP_TW
Q9_A_SP_TW
Q10_A_SP_TW
Total_A_SP_TW
Total_SP_TW
Student Name_SP_TW
School ID_SP_TW
Class Year_SP_TW
Patient Name_SP_TW
Evaluator Name_SP_TW
Exam Date/Time_SP_TW
Q1_PS_SP_TW
Q2_PS_SP_TW
Total_PS_SP_TW
Total_SP_TW
Student Name_SP_TW
School ID_SP_TW
Class Year_SP_TW
Patient Name_SP_TW
Evaluator Name_SP_TW
Exam Date/Time_SP_TW
Q1_PPI_SP_TW
Q2_PPI_SP_TW
Q3_PPI_SP_TW
Q4_PPI_SP_TW
Q5_PPI_SP_TW
Q6_PPI_SP_TW
Q7_PPI_SP_TW
Q8_PPI_SP_TW
Q9_PPI_SP_TW
Q10_PPI_SP_TW
Q11_PPI_SP_TW
Q12_PPI_SP_TW
Q13_PPI_SP_TW
Q14_PPI_SP_TW
Q15_PPI_SP_TW
Q16_PPI_SP_TW
Total_PPI_SP_TW
Total_SP_TW
Student Name_Ad_TW
School ID_Ad_TW
Class Year_Ad_TW
Patient Name_Ad_TW
Evaluator Name_Ad_TW
Exam Date/Time_Ad_TW
Q1_DR_Ad_TW
Total_DR_Ad_TW
Total_Ad_TW
Student Name_SP_TW
School ID_SP_TW
Class Year_SP_TW
Patient Name_SP_TW
Evaluator Name_SP_TW
Exam Date/Time_SP_TW
Q1_PE_SP_TW
Q2_PE_SP_TW
Q3_PE_SP_TW
Q4_PE_SP_TW
Q5_PE_SP_TW
Q6_PE_SP_TW
Q7_PE_SP_TW
Q8_PE_SP_TW
Q9_PE_SP_TW
Q10_PE_SP_TW
Q11_PE_SP_TW
Q12_PE_SP_TW
Q13_PE_SP_TW
Q14_PE_SP_TW
Q15_PE_SP_TW
Q16_PE_SP_TW
Q17_PE_SP_TW
Q18_PE_SP_TW
Q19_PE_SP_TW
Q20_PE_SP_TW
Total_PE_SP_TW
Total_SP_TW
Student Name_SP_TW
School ID_SP_TW
Class Year_SP_TW
Patient Name_SP_TW
Evaluator Name_SP_TW
Exam Date/Time_SP_TW
Q1_Hx_SP_TW
Q2_Hx_SP_TW
Q3_Hx_SP_TW
Q4_Hx_SP_TW
Q5_Hx_SP_TW
Q6_Hx_SP_TW
Q7_Hx_SP_TW
Q8_Hx_SP_TW
Q9_Hx_SP_TW
Q10_Hx_SP_TW
Q11_Hx_SP_TW
Q12_Hx_SP_TW
Q13_Hx_SP_TW
Total_Hx_SP_TW
Total_SP_TW
Student Name_SP_AMBN
School ID_SP_AMBN
Class Year_SP_AMBN
Patient Name_SP_AMBN
Evaluator Name_SP_AMBN
Exam Date/Time_SP_AMBN
Q1_PS_SP_AMBN
Q2_PS_SP_AMBN
Total_PS_SP_AMBN
Total_SP_AMBN
Student Name_SP_AMBN
School ID_SP_AMBN
Class Year_SP_AMBN
Patient Name_SP_AMBN
Evaluator Name_SP_AMBN
Exam Date/Time_SP_AMBN
Q1_PPI_SP_AMBN
Q2_PPI_SP_AMBN
Q3_PPI_SP_AMBN
Q4_PPI_SP_AMBN
Q5_PPI_SP_AMBN
Q6_PPI_SP_AMBN
Q7_PPI_SP_AMBN
Q8_PPI_SP_AMBN
Q9_PPI_SP_AMBN
Q10_PPI_SP_AMBN
Q11_PPI_SP_AMBN
Q12_PPI_SP_AMBN
Q13_PPI_SP_AMBN
Q14_PPI_SP_AMBN
Q15_PPI_SP_AMBN
Q16_PPI_SP_AMBN
Total_PPI_SP_AMBN
Total_SP_AMBN
Student Name_SP_AMBN
School ID_SP_AMBN
Class Year_SP_AMBN
Patient Name_SP_AMBN
Evaluator Name_SP_AMBN
Exam Date/Time_SP_AMBN
Q1_PPI_SP_AMBN
Q2_PPI_SP_AMBN
Q3_PPI_SP_AMBN
Q4_PPI_SP_AMBN
Q5_PPI_SP_AMBN
Q6_PPI_SP_AMBN
Q7_PPI_SP_AMBN
Q8_PPI_SP_AMBN
Q9_PPI_SP_AMBN
Q10_PPI_SP_AMBN
Q11_PPI_SP_AMBN
Q12_PPI_SP_AMBN
Total_PPI_SP_AMBN
Total_SP_AMBN
Student Name_SP_AMBN
School ID_SP_AMBN
Class Year_SP_AMBN
Patient Name_SP_AMBN
Evaluator Name_SP_AMBN
Exam Date/Time_SP_AMBN
Q1_Hx_SP_AMBN
Q2_Hx_SP_AMBN
Q3_Hx_SP_AMBN
Q4_Hx_SP_AMBN
Q5_Hx_SP_AMBN
Q6_Hx_SP_AMBN
Total_Hx_SP_AMBN
Total_SP_AMBN
Student Name_SP_WL
School ID_SP_WL
Class Year_SP_WL
Patient Name_SP_WL
Evaluator Name_SP_WL
Exam Date/Time_SP_WL
Q1_PS_SP_WL
Q2_PS_SP_WL
Total_PS_SP_WL
Total_SP_WL
Student Name_SP_WL
School ID_SP_WL
Class Year_SP_WL
Patient Name_SP_WL
Evaluator Name_SP_WL
Exam Date/Time_SP_WL
Q1_PPI_SP_WL
Q2_PPI_SP_WL
Q3_PPI_SP_WL
Q4_PPI_SP_WL
Q5_PPI_SP_WL
Q6_PPI_SP_WL
Q7_PPI_SP_WL
Q8_PPI_SP_WL
Q9_PPI_SP_WL
Q10_PPI_SP_WL
Q11_PPI_SP_WL
Q12_PPI_SP_WL
Q13_PPI_SP_WL
Q14_PPI_SP_WL
Q15_PPI_SP_WL
Q16_PPI_SP_WL
Total_PPI_SP_WL
Total_SP_WL
Student Name_SP_WL
School ID_SP_WL
Class Year_SP_WL
Patient Name_SP_WL
Evaluator Name_SP_WL
Exam Date/Time_SP_WL
Q1_A_SP_WL
Q2_A_SP_WL
Q3_A_SP_WL
Q4_A_SP_WL
Q5_A_SP_WL
Q6_A_SP_WL
Q7_A_SP_WL
Q8_A_SP_WL
Q9_A_SP_WL
Q10_A_SP_WL
Total_A_SP_WL
Total_SP_WL
Student Name_Ad_WL
School ID_Ad_WL
Class Year_Ad_WL
Patient Name_Ad_WL
Evaluator Name_Ad_WL
Exam Date/Time_Ad_WL
Q1_DR_Ad_WL
Total_DR_Ad_WL
Total_Ad_WL
Student Name_SP_WL
School ID_SP_WL
Class Year_SP_WL
Patient Name_SP_WL
Evaluator Name_SP_WL
Exam Date/Time_SP_WL
Q1_PE_SP_WL
Q2_PE_SP_WL
Q3_PE_SP_WL
Q4_PE_SP_WL
Q5_PE_SP_WL
Q6_PE_SP_WL
Q7_PE_SP_WL
Q8_PE_SP_WL
Q9_PE_SP_WL
Q10_PE_SP_WL
Total_PE_SP_WL
Total_SP_WL
Student Name_SP_WL
School ID_SP_WL
Class Year_SP_WL
Patient Name_SP_WL
Evaluator Name_SP_WL
Exam Date/Time_SP_WL
Q1_Hx_SP_WL
Q2_Hx_SP_WL
Q3_Hx_SP_WL
Q4_Hx_SP_WL
Q5_Hx_SP_WL
Q6_Hx_SP_WL
Q7_Hx_SP_WL
Q8_Hx_SP_WL
Q9_Hx_SP_WL
Total_Hx_SP_WL
Total_SP_WL
Student Name_SP_SOB
School ID_SP_SOB
Class Year_SP_SOB
Patient Name_SP_SOB
Evaluator Name_SP_SOB
Exam Date/Time_SP_SOB
Q1_PS_SP_SOB
Q2_PS_SP_SOB
Total_PS_SP_SOB
Total_SP_SOB
Student Name_SP_SOB
School ID_SP_SOB
Class Year_SP_SOB
Patient Name_SP_SOB
Evaluator Name_SP_SOB
Exam Date/Time_SP_SOB
Q1_PPI_SP_SOB
Q2_PPI_SP_SOB
Q3_PPI_SP_SOB
Q4_PPI_SP_SOB
Q5_PPI_SP_SOB
Q6_PPI_SP_SOB
Q7_PPI_SP_SOB
Q8_PPI_SP_SOB
Q9_PPI_SP_SOB
Q10_PPI_SP_SOB
Q11_PPI_SP_SOB
Q12_PPI_SP_SOB
Q13_PPI_SP_SOB
Q14_PPI_SP_SOB
Q15_PPI_SP_SOB
Q16_PPI_SP_SOB
Total_PPI_SP_SOB
Total_SP_SOB
Student Name_SP_SOB
School ID_SP_SOB
Class Year_SP_SOB
Patient Name_SP_SOB
Evaluator Name_SP_SOB
Exam Date/Time_SP_SOB
Q1_A_SP_SOB
Q2_A_SP_SOB
Q3_A_SP_SOB
Q4_A_SP_SOB
Q5_A_SP_SOB
Q6_A_SP_SOB
Q7_A_SP_SOB
Q8_A_SP_SOB
Q9_A_SP_SOB
Q10_A_SP_SOB
Total_A_SP_SOB
Total_SP_SOB
Student Name_Ad_SOB
School ID_Ad_SOB
Class Year_Ad_SOB
Patient Name_Ad_SOB
Evaluator Name_Ad_SOB
Exam Date/Time_Ad_SOB
Q1_DR_Ad_SOB
Total_DR_Ad_SOB
Total_Ad_SOB
Student Name_SP_SOB
School ID_SP_SOB
Class Year_SP_SOB
Patient Name_SP_SOB
Evaluator Name_SP_SOB
Exam Date/Time_SP_SOB
Q1_PE_SP_SOB
Q2_PE_SP_SOB
Q3_PE_SP_SOB
Q4_PE_SP_SOB
Q5_PE_SP_SOB
Q6_PE_SP_SOB
Total_PE_SP_SOB
Total_SP_SOB
Student Name_SP_SOB
School ID_SP_SOB
Class Year_SP_SOB
Patient Name_SP_SOB
Evaluator Name_SP_SOB
Exam Date/Time_SP_SOB
Q1_Hx_SP_SOB
Q2_Hx_SP_SOB
Q3_Hx_SP_SOB
Q4_Hx_SP_SOB
Q5_Hx_SP_SOB
Q6_Hx_SP_SOB
Q7_Hx_SP_SOB
Q8_Hx_SP_SOB
Q9_Hx_SP_SOB
Q10_Hx_SP_SOB
Q11_Hx_SP_SOB
Q12_Hx_SP_SOB
Q13_Hx_SP_SOB
Q14_Hx_SP_SOB
Total_Hx_SP_SOB
Total_SP_SOB
Student Name_SP_H
School ID_SP_H
Class Year_SP_H
Patient Name_SP_H
Evaluator Name_SP_H
Exam Date/Time_SP_H
Q1_PS_SP_H
Q2_PS_SP_H
Total_PS_SP_H
Total_SP_H
Student Name_SP_H
School ID_SP_H
Class Year_SP_H
Patient Name_SP_H
Evaluator Name_SP_H
Exam Date/Time_SP_H
Q1_PPI_SP_H
Q2_PPI_SP_H
Q3_PPI_SP_H
Q4_PPI_SP_H
Q5_PPI_SP_H
Q6_PPI_SP_H
Q7_PPI_SP_H
Q8_PPI_SP_H
Q9_PPI_SP_H
Q10_PPI_SP_H
Q11_PPI_SP_H
Q12_PPI_SP_H
Q13_PPI_SP_H
Q14_PPI_SP_H
Q15_PPI_SP_H
Total_PPI_SP_H
Total_SP_H
Student Name_SP_H
School ID_SP_H
Class Year_SP_H
Patient Name_SP_H
Evaluator Name_SP_H
Exam Date/Time_SP_H
Q1_A_SP_H
Q2_A_SP_H
Q3_A_SP_H
Q4_A_SP_H
Q5_A_SP_H
Q6_A_SP_H
Q7_A_SP_H
Q8_A_SP_H
Q9_A_SP_H
Q10_A_SP_H
Total_A_SP_H
Total_SP_H
Student Name_Ad_H
School ID_Ad_H
Class Year_Ad_H
Patient Name_Ad_H
Evaluator Name_Ad_H
Exam Date/Time_Ad_H
Q1_DR_Ad_H
Total_DR_Ad_H
Total_Ad_H
Student Name_SP_H
School ID_SP_H
Class Year_SP_H
Patient Name_SP_H
Evaluator Name_SP_H
Exam Date/Time_SP_H
Q1_Hx_SP_H
Q2_Hx_SP_H
Q3_Hx_SP_H
Q4_Hx_SP_H
Q5_Hx_SP_H
Q6_Hx_SP_H
Q7_Hx_SP_H
Q8_Hx_SP_H
Q9_Hx_SP_H
Q10_Hx_SP_H
Q11_Hx_SP_H
Total_Hx_SP_H
Total_SP_H
Student Name_SP_H
School ID_SP_H
Class Year_SP_H
Patient Name_SP_H
Evaluator Name_SP_H
Exam Date/Time_SP_H
Q1_PE_SP_H
Q2_PE_SP_H
Q3_PE_SP_H
Q4_PE_SP_H
Q5_PE_SP_H
Q6_PE_SP_H
Q7_PE_SP_H
Q8_PE_SP_H
Q9_PE_SP_H
Q10_PE_SP_H
Q11_PE_SP_H
Q12_PE_SP_H
Q13_PE_SP_H
Q14_PE_SP_H
Q15_PE_SP_H
Q16_PE_SP_H
Q17_PE_SP_H
Q18_PE_SP_H
Q19_PE_SP_H
Q20_PE_SP_H
Q21_PE_SP_H
Total_PE_SP_H
Total_SP_H
Student Name_SP_CP
School ID_SP_CP
Class Year_SP_CP
Patient Name_SP_CP
Evaluator Name_SP_CP
Exam Date/Time_SP_CP
Q1_PS_SP_CP
Q2_PS_SP_CP
Total_PS_SP_CP
Total_SP_CP
Student Name_SP_CP
School ID_SP_CP
Class Year_SP_CP
Patient Name_SP_CP
Evaluator Name_SP_CP
Exam Date/Time_SP_CP
Q1_PPI_SP_CP
Q2_PPI_SP_CP
Q3_PPI_SP_CP
Q4_PPI_SP_CP
Q5_PPI_SP_CP
Q6_PPI_SP_CP
Q7_PPI_SP_CP
Q8_PPI_SP_CP
Q9_PPI_SP_CP
Q10_PPI_SP_CP
Q11_PPI_SP_CP
Q12_PPI_SP_CP
Q13_PPI_SP_CP
Q14_PPI_SP_CP
Q15_PPI_SP_CP
Q16_PPI_SP_CP
Total_PPI_SP_CP
Total_SP_CP
Student Name_SP_CP
School ID_SP_CP
Class Year_SP_CP
Patient Name_SP_CP
Evaluator Name_SP_CP
Exam Date/Time_SP_CP
Q1_A_SP_CP
Q2_A_SP_CP
Q3_A_SP_CP
Q4_A_SP_CP
Q5_A_SP_CP
Q6_A_SP_CP
Q7_A_SP_CP
Q8_A_SP_CP
Q9_A_SP_CP
Q10_A_SP_CP
Total_A_SP_CP
Total_SP_CP
Student Name_Ad_CP
School ID_Ad_CP
Class Year_Ad_CP
Patient Name_Ad_CP
Evaluator Name_Ad_CP
Exam Date/Time_Ad_CP
Q1_DR_Ad_CP
Total_DR_Ad_CP
Total_Ad_CP
Student Name_SP_CP
School ID_SP_CP
Class Year_SP_CP
Patient Name_SP_CP
Evaluator Name_SP_CP
Exam Date/Time_SP_CP
Q1_PE_SP_CP
Q2_PE_SP_CP
Q3_PE_SP_CP
Q4_PE_SP_CP
Q5_PE_SP_CP
Q6_PE_SP_CP
Q7_PE_SP_CP
Q8_PE_SP_CP
Q9_PE_SP_CP
Q10_PE_SP_CP
Total_PE_SP_CP
Total_SP_CP
Student Name_SP_CP
School ID_SP_CP
Class Year_SP_CP
Patient Name_SP_CP
Evaluator Name_SP_CP
Exam Date/Time_SP_CP
Q1_Hx_SP_CP
Q2_Hx_SP_CP
Q3_Hx_SP_CP
Q4_Hx_SP_CP
Q5_Hx_SP_CP
Q6_Hx_SP_CP
Q7_Hx_SP_CP
Q8_Hx_SP_CP
Q9_Hx_SP_CP
Q10_Hx_SP_CP
Q11_Hx_SP_CP
Q12_Hx_SP_CP
Q13_Hx_SP_CP
Q14_Hx_SP_CP
Total_Hx_SP_CP
Total_SP_CP
Student Name_SP_AP
School ID_SP_AP
Class Year_SP_AP
Patient Name_SP_AP
Evaluator Name_SP_AP
Exam Date/Time_SP_AP
Q1_PE_SP_AP
Q2_PE_SP_AP
Q3_PE_SP_AP
Q4_PE_SP_AP
Q5_PE_SP_AP
Q6_PE_SP_AP
Q7_PE_SP_AP
Q8_PE_SP_AP
Q9_PE_SP_AP
Total_PE_SP_AP
Total_SP_AP
Student Name_SP_AP
School ID_SP_AP
Class Year_SP_AP
Patient Name_SP_AP
Evaluator Name_SP_AP
Exam Date/Time_SP_AP
Q1_Hx_SP_AP
Q2_Hx_SP_AP
Q3_Hx_SP_AP
Q4_Hx_SP_AP
Q5_Hx_SP_AP
Q6_Hx_SP_AP
Q7_Hx_SP_AP
Q8_Hx_SP_AP
Q9_Hx_SP_AP
Total_Hx_SP_AP
Total_SP_AP
Student Name_SP_AP
School ID_SP_AP
Class Year_SP_AP
Patient Name_SP_AP
Evaluator Name_SP_AP
Exam Date/Time_SP_AP
Q1_PS_SP_AP
Q2_PS_SP_AP
Total_PS_SP_AP
Total_SP_AP
Student Name_SP_AP
School ID_SP_AP
Class Year_SP_AP
Patient Name_SP_AP
Evaluator Name_SP_AP
Exam Date/Time_SP_AP
Q1_PPI_SP_AP
Q2_PPI_SP_AP
Q3_PPI_SP_AP
Q4_PPI_SP_AP
Q5_PPI_SP_AP
Q6_PPI_SP_AP
Q7_PPI_SP_AP
Q8_PPI_SP_AP
Q9_PPI_SP_AP
Q10_PPI_SP_AP
Q11_PPI_SP_AP
Q12_PPI_SP_AP
Q13_PPI_SP_AP
Q14_PPI_SP_AP
Q15_PPI_SP_AP
Q16_PPI_SP_AP
Total_PPI_SP_AP
Total_SP_AP
Student Name_SP_AP
School ID_SP_AP
Class Year_SP_AP
Patient Name_SP_AP
Evaluator Name_SP_AP
Exam Date/Time_SP_AP
Q1_A_SP_AP
Q2_A_SP_AP
Q3_A_SP_AP
Q4_A_SP_AP
Q5_A_SP_AP
Q6_A_SP_AP
Q7_A_SP_AP
Q8_A_SP_AP
Q9_A_SP_AP
Q10_A_SP_AP
Total_A_SP_AP
Total_SP_AP
Student Name_Ad_AP
School ID_Ad_AP
Class Year_Ad_AP
Patient Name_Ad_AP
Evaluator Name_Ad_AP
Exam Date/Time_Ad_AP
Q1_DR_Ad_AP
Total_DR_Ad_AP
Total_Ad_AP
Student Name_SP_CS
School ID_SP_CS
Class Year_SP_CS
Patient Name_SP_CS
Evaluator Name_SP_CS
Exam Date/Time_SP_CS
Q1_PS_SP_CS
Q2_PS_SP_CS
Total_PS_SP_CS
Total_SP_CS
Student Name_SP_CS
School ID_SP_CS
Class Year_SP_CS
Patient Name_SP_CS
Evaluator Name_SP_CS
Exam Date/Time_SP_CS
Q1_PPI_SP_CS
Q2_PPI_SP_CS
Q3_PPI_SP_CS
Q4_PPI_SP_CS
Q5_PPI_SP_CS
Q6_PPI_SP_CS
Q7_PPI_SP_CS
Q8_PPI_SP_CS
Q9_PPI_SP_CS
Q10_PPI_SP_CS
Q11_PPI_SP_CS
Q12_PPI_SP_CS
Q13_PPI_SP_CS
Q14_PPI_SP_CS
Q15_PPI_SP_CS
Q16_PPI_SP_CS
Total_PPI_SP_CS
Total_SP_CS
Student Name_SP_CS
School ID_SP_CS
Class Year_SP_CS
Patient Name_SP_CS
Evaluator Name_SP_CS
Exam Date/Time_SP_CS
Q1_A_SP_CS
Q2_A_SP_CS
Q3_A_SP_CS
Q4_A_SP_CS
Q5_A_SP_CS
Q6_A_SP_CS
Q7_A_SP_CS
Q8_A_SP_CS
Q9_A_SP_CS
Q10_A_SP_CS
Total_A_SP_CS
Total_SP_CS
Student Name_SP_CS
School ID_SP_CS
Class Year_SP_CS
Patient Name_SP_CS
Evaluator Name_SP_CS
Exam Date/Time_SP_CS
Q1_PE_SP_CS
Q2_PE_SP_CS
Q3_PE_SP_CS
Q4_PE_SP_CS
Q5_PE_SP_CS
Q6_PE_SP_CS
Q7_PE_SP_CS
Q8_PE_SP_CS
Q9_PE_SP_CS
Q10_PE_SP_CS
Q11_PE_SP_CS
Q12_PE_SP_CS
Q13_PE_SP_CS
Total_PE_SP_CS
Total_SP_CS
Student Name_Ad_CS
School ID_Ad_CS
Class Year_Ad_CS
Patient Name_Ad_CS
Evaluator Name_Ad_CS
Exam Date/Time_Ad_CS
Q1_DR_Ad_CS
Total_DR_Ad_CS
Total_Ad_CS
Student Name_SP_CS
School ID_SP_CS
Class Year_SP_CS
Patient Name_SP_CS
Evaluator Name_SP_CS
Exam Date/Time_SP_CS
Q1_Hx_SP_CS
Q2_Hx_SP_CS
Q3_Hx_SP_CS
Q4_Hx_SP_CS
Q5_Hx_SP_CS
Q6_Hx_SP_CS
Q7_Hx_SP_CS
Q8_Hx_SP_CS
Q9_Hx_SP_CS
Q10_Hx_SP_CS
Q11_Hx_SP_CS
Total_Hx_SP_CS
Total_SP_CS
Student Name_SP_KP
School ID_SP_KP
Class Year_SP_KP
Patient Name_SP_KP
Evaluator Name_SP_KP
Exam Date/Time_SP_KP
Q1_PS_SP_KP
Q2_PS_SP_KP
Total_PS_SP_KP
Total_SP_KP
Student Name_SP_KP
School ID_SP_KP
Class Year_SP_KP
Patient Name_SP_KP
Evaluator Name_SP_KP
Exam Date/Time_SP_KP
Q1_PPI_SP_KP
Q2_PPI_SP_KP
Q3_PPI_SP_KP
Q4_PPI_SP_KP
Q5_PPI_SP_KP
Q6_PPI_SP_KP
Q7_PPI_SP_KP
Q8_PPI_SP_KP
Q9_PPI_SP_KP
Q10_PPI_SP_KP
Q11_PPI_SP_KP
Q12_PPI_SP_KP
Q13_PPI_SP_KP
Q14_PPI_SP_KP
Q15_PPI_SP_KP
Q16_PPI_SP_KP
Total_PPI_SP_KP
Total_SP_KP
Student Name_SP_KP
School ID_SP_KP
Class Year_SP_KP
Patient Name_SP_KP
Evaluator Name_SP_KP
Exam Date/Time_SP_KP
Q1_A_SP_KP
Q2_A_SP_KP
Q3_A_SP_KP
Q4_A_SP_KP
Q5_A_SP_KP
Q6_A_SP_KP
Q7_A_SP_KP
Q8_A_SP_KP
Q9_A_SP_KP
Q10_A_SP_KP
Total_A_SP_KP
Total_SP_KP
Student Name_Ad_KP
School ID_Ad_KP
Class Year_Ad_KP
Patient Name_Ad_KP
Evaluator Name_Ad_KP
Exam Date/Time_Ad_KP
Q1_DR_Ad_KP
Total_DR_Ad_KP
Total_Ad_KP
Student Name_SP_KP
School ID_SP_KP
Class Year_SP_KP
Patient Name_SP_KP
Evaluator Name_SP_KP
Exam Date/Time_SP_KP
Q1_PE_SP_KP
Q2_PE_SP_KP
Q3_PE_SP_KP
Q4_PE_SP_KP
Q5_PE_SP_KP
Q6_PE_SP_KP
Q7_PE_SP_KP
Q8_PE_SP_KP
Total_PE_SP_KP
Total_SP_KP
Student Name_SP_KP
School ID_SP_KP
Class Year_SP_KP
Patient Name_SP_KP
Evaluator Name_SP_KP
Exam Date/Time_SP_KP
Q1_Hx_SP_KP
Q2_Hx_SP_KP
Q3_Hx_SP_KP
Q4_Hx_SP_KP
Q5_Hx_SP_KP
Q6_Hx_SP_KP
Q7_Hx_SP_KP
Q8_Hx_SP_KP
Q9_Hx_SP_KP
Total_Hx_SP_KP
Total_SP_KP
Student Name_SP_LAP
School ID_SP_LAP
Class Year_SP_LAP
Patient Name_SP_LAP
Evaluator Name_SP_LAP
Exam Date/Time_SP_LAP
Q1_PS_SP_LAP
Q2_PS_SP_LAP
Total_PS_SP_LAP
Total_SP_LAP
Student Name_SP_LAP
School ID_SP_LAP
Class Year_SP_LAP
Patient Name_SP_LAP
Evaluator Name_SP_LAP
Exam Date/Time_SP_LAP
Q1_PPI_SP_LAP
Q2_PPI_SP_LAP
Q3_PPI_SP_LAP
Q4_PPI_SP_LAP
Q5_PPI_SP_LAP
Q6_PPI_SP_LAP
Q7_PPI_SP_LAP
Q8_PPI_SP_LAP
Q9_PPI_SP_LAP
Q10_PPI_SP_LAP
Q11_PPI_SP_LAP
Q12_PPI_SP_LAP
Q13_PPI_SP_LAP
Q14_PPI_SP_LAP
Q15_PPI_SP_LAP
Q16_PPI_SP_LAP
Total_PPI_SP_LAP
Total_SP_LAP
Student Name_SP_LAP
School ID_SP_LAP
Class Year_SP_LAP
Patient Name_SP_LAP
Evaluator Name_SP_LAP
Exam Date/Time_SP_LAP
Q1_A_SP_LAP
Q2_A_SP_LAP
Q3_A_SP_LAP
Q4_A_SP_LAP
Q5_A_SP_LAP
Q6_A_SP_LAP
Q7_A_SP_LAP
Q8_A_SP_LAP
Q9_A_SP_LAP
Q10_A_SP_LAP
Total_A_SP_LAP
Total_SP_LAP
Student Name_Ad_LAP
School ID_Ad_LAP
Class Year_Ad_LAP
Patient Name_Ad_LAP
Evaluator Name_Ad_LAP
Exam Date/Time_Ad_LAP
Q1_DR_Ad_LAP
Total_DR_Ad_LAP
Total_Ad_LAP
Student Name_SP_LAP
School ID_SP_LAP
Class Year_SP_LAP
Patient Name_SP_LAP
Evaluator Name_SP_LAP
Exam Date/Time_SP_LAP
Q1_PE_SP_LAP
Q2_PE_SP_LAP
Q3_PE_SP_LAP
Q4_PE_SP_LAP
Q5_PE_SP_LAP
Q6_PE_SP_LAP
Q7_PE_SP_LAP
Total_PE_SP_LAP
Total_SP_LAP
Student Name_SP_LAP
School ID_SP_LAP
Class Year_SP_LAP
Patient Name_SP_LAP
Evaluator Name_SP_LAP
Exam Date/Time_SP_LAP
Q1_Hx_SP_LAP
Q2_Hx_SP_LAP
Q3_Hx_SP_LAP
Q4_Hx_SP_LAP
Q5_Hx_SP_LAP
Q6_Hx_SP_LAP
Q7_Hx_SP_LAP
Q8_Hx_SP_LAP
Q9_Hx_SP_LAP
Q10_Hx_SP_LAP
Q11_Hx_SP_LAP
Q12_Hx_SP_LAP
Q13_Hx_SP_LAP
Q14_Hx_SP_LAP
Q15_Hx_SP_LAP
Total_Hx_SP_LAP
Total_SP_LAP
Question Raw Data
Unnamed: 1

#### Identify pattern of columns for each subdivision.  Then find row-wise mean and variance for those selected columns and add to end of DF

In [13]:
ppi_initiation_qs = ["Q1_PPI", "Q2_PPI", "Q3_PPI", "Q4_PPI"]
ppi_info_gather = ["Q5_PPI", "Q6_PPI", "Q7_PPI", "Q8_PPI", "Q9_PPI", "Q10_PPI", "Q11_PPI", "Q12_PPI"]
ppi_closing = ["Q13_PPI", "Q14_PPI", "Q15_PPI"]

In [14]:
def add_mean_and_var_column(question_names, new_col_name):
    selected_cols = list(overallDF.loc[:, overallDF.columns.str.contains(('|'.join(question_names)))].columns)
    overallDF["mean_" + new_col_name] = overallDF[selected_cols].mean(axis=1)
    overallDF["var_" + new_col_name] = overallDF[selected_cols].var(axis=1)

add_mean_and_var_column(ppi_initiation_qs, 'ppi_initiation')
add_mean_and_var_column(ppi_info_gather, 'ppi_info_gather')
add_mean_and_var_column(ppi_closing, 'ppi_closing')

In [15]:
overallDF.head()

,Student Name_SP_TW,School ID_SP_TW,Class Year_SP_TW,Patient Name_SP_TW,Evaluator Name_SP_TW,Exam Date/Time_SP_TW,Q1_A_SP_TW,Q2_A_SP_TW,Q3_A_SP_TW,Q4_A_SP_TW,...,Total_Hx_SP_LAP,Total_SP_LAP,Question Raw Data,Unnamed: 1,mean_ppi_initiation,var_ppi_initiation,mean_ppi_info_gather,var_ppi_info_gather,mean_ppi_closing,var_ppi_closing
3,"Angarita, Benjamin",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 11:00:04.420000,3,3,3,2,...,56.0,56.0,Students,75,2.769231,3.475113,2.807692,3.380134,2.266667,4.064368
4,"Austin, Naola",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-11 12:22:50.763000,4,4,3,3,...,48.0,48.0,NaN,NaN,3.923077,0.307692,3.692308,1.147125,3.333333,2.298851
5,"Ayodele, Maranatha",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 13:26:49.560000,3,3,4,3,...,32.0,32.0,Cases,Alex Miller,3.692308,1.158371,3.692308,1.147125,2.933333,3.236782
6,"Batavia, Ashita",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 09:56:40.403000,3,3,3,3,...,36.0,36.0,NaN,Carol Whitman,3.384615,2.123680,3.615385,1.404033,3.466667,1.912644
7,"Beesley, Sarah",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-24 12:06:31.140000,3,4,3,2,...,36.0,36.0,NaN,Corey Wolfe,3.846154,0.603318,3.692308,1.147125,2.800000,3.475862

In [16]:
hx_physical =["Q1_Hx", "Q2_Hx", "Q3_Hx", "Q4_Hx", "Q5_Hx", "Q6_Hx", "Q7_Hx", "Q8_Hx"]
hx_social = ["Q9_Hx"]

add_mean_and_var_column(hx_physical, 'hx_physical')
add_mean_and_var_column(hx_social, 'hx_social')

In [17]:
pe_handwash = ["Q1_PE"]
pe_phys_check = ["Q2_PE", "Q4_PE", "Q5_PE", "Q6_PE", "Q7_PE", "Q8_PE", "Q9_PE"]
pe_modesty = ["Q3_PE"]

add_mean_and_var_column(pe_handwash, 'pe_handwash')
add_mean_and_var_column(pe_phys_check, 'pe_phys_check')
add_mean_and_var_column(pe_modesty, 'pe_modesty')

# 2008

In [104]:
directory_2008 = './2008Data.xls'

overallDF_2008 = pd.DataFrame()
book_2008 = xlrd.open_workbook(directory_2008) 
num_sheets_2008 = len(book_2008.sheets())

sheet_names_2008 = book_2008.sheet_names()
sheet_names_2008

#GET ALL STUDENTS TO USE AS THE INDEX
book_students_2008 = xlrd.open_workbook('./2008Students.xlsx')
all_students_2008 = pd.read_excel('2008Students.xlsx', 'Sheet1', header=None).iloc[:,0].tolist()

In [105]:
for i in range(num_sheets_2008):
    this_sheet = sheet_names_2008[i]
    df = pd.read_excel(directory_2008, this_sheet)
    df.set_index(df.columns[0], inplace=True)
    df = df.reindex(all_students_2008)
    df = df.reset_index()
    overallDF_2008 = pd.concat([overallDF_2008, df], axis=1)

In [106]:
overallDF_2008.head()

,Student Name_Ad_TW,School ID_Ad_TW,Class Year_Ad_TW,Patient Name_Ad_TW,Evaluator Name_Ad_TW,Exam Date/Time_Ad_TW,Q1_DR_Ad_TW,Total_DR_Ad_TW,Total_Ad_TW,Student Name_SP_TW,...,Q7_Hx_SP_LAP,Q8_Hx_SP_LAP,Q9_Hx_SP_LAP,Q10_Hx_SP_LAP,Q11_Hx_SP_LAP,Q12_Hx_SP_LAP,Q13_Hx_SP_LAP,Q14_Hx_SP_LAP,Total_Hx_SP_LAP,Total_SP_LAP
0,"Adler, Karen",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2008-02-26 14:10:14.607000,10,10.0,10.0,"Adler, Karen",...,4,4,4,4,4,4,4,4,56.0,56.0
1,"Ala, Owen",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-26 13:39:22.607000,7.5,7.5,7.5,"Ala, Owen",...,4,0,4,0,4,4,0,4,44.0,44.0
2,"Bauman, Jessica",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 14:17:59.450000,10,10.0,10.0,"Bauman, Jessica",...,4,0,4,0,0,4,4,4,44.0,44.0
3,"Blumenthal, Jill",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-19 12:58:09.873000,7.5,7.5,7.5,"Blumenthal, Jill",...,4,0,4,0,4,4,0,4,44.0,44.0
4,"Bomsztyk, Elan",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 13:09:17.340000,7.5,7.5,7.5,"Bomsztyk, Elan",...,4,4,4,0,0,0,0,4,36.0,36.0
5,"Bradshaw, Chanda",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-23 10:22:39.263000,7.5,7.5,7.5,"Bradshaw, Chanda",...,0,4,4,4,4,4,0,4,48.0,48.0
6,"Brooks, Gabriel",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-23 09:00:29.950000,10,10.0,10.0,"Brooks, Gabriel",...,0,0,4,4,4,0,0,4,40.0,40.0
7,"Burton, Rebecca",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 09:01:02.750000,5,5.0,5.0,"Burton, Rebecca",...,4,4,4,4,4,4,4,4,56.0,56.0
8,"Cannon, Donald",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 09:49:27.077000,7.5,7.5,7.5,"Cannon, Donald",...,0,0,4,4,4,0,0,4,40.0,40.0
9,"Casemyr, Natalie",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 12:45:17.183000,10,10.0,10.0,"Casemyr, Natalie",...,4,4,4,4,4,4,4,4,52.0,52.0
10,"Chen, Connie",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-25 13:10:41.327000,7.5,7.5,7.5,"Chen, Connie",...,4,0,4,0,4,4,4,4,44.0,44.0
11,"Chevalier, Michelle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chevalier, Michelle",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Choi, Jason",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-23 13:50:15.357000,10,10.0,10.0,"Choi, Jason",...,4,0,4,4,0,4,0,0,40.0,40.0
13,"Chu, David",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-08 10:34:58.513000,5,5.0,5.0,"Chu, David",...,4,0,4,0,4,0,0,4,40.0,40.0
14,"Cimino, Ashley",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cimino, Ashley",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Colantino, Alison",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 13:25:21.153000,7.5,7.5,7.5,"Colantino, Alison",...,0,0,4,4,0,0,0,4,36.0,36.0
16,"Collins, Sean",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 10:42:54.030000,7.5,7.5,7.5,"Collins, Sean",...,4,0,4,0,4,0,4,4,44.0,44.0
17,"Connors, Nicholas",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 13:11:18.060000,7.5,7.5,7.5,"Connors, Nicholas",...,0,0,4,0,0,4,0,4,32.0,32.0
18,"Costa, Ana",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-26 13:13:05.170000,7.5,7.5,7.5,"Costa, Ana",...,4,4,4,4,4,4,4,4,56.0,56.0
19,"Daines, William",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 10:22:21.217000,10,10.0,10.0,"Daines, William",...,4,4,4,0,4,4,0,4,44.0,44.0
20,"Davis, Adrienne",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-23 12:31:26.077000,7.5,7.5,7.5,"Davis, Adrienne",...,4,4,4,4,0,0,0,4,44.0,44.0
21,"Deobhakta, Avnish",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2008-02-26 13:42:50.903000,10,10.0,10.0,"Deobhakta, Avnish",...,4,0,4,4,0,0,0,4,40.0,40.0
22,"Deshpande, Ohm",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 13:51:33.797000,10,10.0,10.0,"Deshpande, Ohm",...,4,0,4,0,0,4,0,4,40.0,40.0
23,"Diamond, Elan",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 09:31:16.343000,7.5,7.5,7.5,"Diamond, Elan",...,0,0,4,0,4,0,0,4,36.0,36.0
24,"Doyle, Lucy",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-16 09:55:51.060000,5,5.0,5.0,"Doyle, Lucy",...,4,4,4,0,4,4,4,4,52.0,52.0
25,"Enschede, Elizabeth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Enschede, Elizabeth",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Epstein, Jason",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 12:17:02.327000,7.5,7.5,7.5,"Epstein, Jason",...,4,0,4,0,4,4,0,4,40.0,40.0
27,"Ford, Michael",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 09:58:31.687000,5,5.0,5.0,"Ford, Michael",...,0,4,4,4,4,0,0,4,40.0,40.0
28,"Fraser, Claire",NaN,2008.0,"Alcock, Kevin","Slade, Michael",2008-03-05 10:13:00.030000,7.5,7.5,7.5,"Fraser, Claire",...,0,0,4,0,0,4,0,4,32.0,32.0
29,"Gade, Terence",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-08 09:12:35.920000,7.5,7.5,7.5,"Gade, Terence",...,0,0,4,0,4,0,0,4,36.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,"Offor, Nneka",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-23 12:57:31.653000,7.5,7.5,7.5,"Offor, Nneka",...,4,0,4,4,4,0,0,4,40.0,40.0
74,"Perry, Challon",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-27 13:53:51.577000,7.5,7.5,7.5,"Perry, Challon",...,0,4,0,0,0,0,0,0,20.0,20.0
75,"Pickering, Dacia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pickering, Dacia",...,4,0,4,4,4,0,4,4,48.0,48.0
76,"Pineda, Miguel",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-26 09:54:40.043000,10,10.0,10.0,"Pineda, Miguel",...,0,4,4,0,4,0,0,4,36.0,36.0
77,"Prograis, Shannon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prograis, Shannon",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"Rafii, Dahlia",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-06 08:58:49.903000,5,5.0,5.0,"Rafii, Dahlia",...,4,0,4,4,4,4,0,4,48.0,48.0
79,"Raymond, Marissa",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-06 10:19:16.717000,5,5.0,5.0,"Raymond, Marissa",...,0,0,4,0,0,0,0,4,24.0,24.0
80,"Richards, Bryson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richards, Bryson",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,"Riley, Isaretta",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-18 14:03:52.060000,5,5.0,5.0,"Riley, Isaretta",...,4,0,4,0,4,4,4,4,48.0,48.0
82,"Rodney, John",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-19 09:52:27.327000,10,10.0,10.0,"Rodney, John",...,4,0,4,0,0,0,0,4,32.0,32.0
83,"Rossi, Anthony",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-25 13:37:50.373000,7.5,7.5,7.5,"Rossi, Anthony",...,4,0,4,0,4,4,0,4,44.0,44.0
84,"Santomasso, Bianca",NaN,2008.0,"Levine, Neil","Slade, Michael",2008-02-26 10:48:41.013000,5,5.0,5.0,"Santomasso, Bianca",...,4,0,4,0,4,4,4,4,48.0,48.0
85,"Scherer, Matthew",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-27 09:56:33.093000,10,10.0,10.0,"Scherer, Matthew",...,0,0,4,0,4,4,0,4,36.0,36.0
86,"Schreck, Barbara",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-26 08:59:21.657000,7.5,7.5,7.5,"Schreck, Barbara",...,4,4,4,0,4,4,4,4,52.0,52.0
87,"Shieh, Albert",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-16 09:27:09.780000,7.5,7.5,7.5,"Shieh, Albert",...,4,0,4,0,4,0,0,4,36.0,36.0
88,"Sinha, Smrita",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-27 12:34:44.997000,10,10.0,10.0,"Sinha, Smrita",...,4,0,4,0,4,0,4,0,40.0,40.0
89,"Sjulson, Lucas",NaN,2008.0,"Alcock, Kevin","Slade, Michael",2008-03-05 09:18:13.420000,10,10.0,10.0,"Sjulson, Lucas",...,4,0,4,0,0,4,0,4,40.0,40.0
90,"Slade, Michael",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Slade, Michael",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,"Soares, Marc",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-16 14:03:19.233000,7.5,7.5,7.5,"Soares, Marc",...,4,0,4,0,4,4,4,4,48.0,48.0
92,"Spengler, Emily",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-26 10:47:22.593000,5,5.0,5.0,"Spengler, Emily",...,4,4,4,4,4,4,4,4,56.0,56.0
93,"Teo, Esther",NaN,2009.0,"Lieth, Douglas","Slade, Michael",2007-07-16 12:43:50.607000,10,10.0,10.0,"Teo, Esther",...,4,4,4,4,4,0,4,4,52.0,52.0
94,"Terry, Alon",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-24 12:59:24.123000,5,5.0,5.0,"Terry, Alon",...,4,4,4,4,4,4,0,4,52.0,52.0
95,"Turbendian, Harma",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 09:17:30.950000,10,10.0,10.0,"Turbendian, Harma",...,0,0,4,4,4,0,0,4,36.0,36.0
96,"Ullery, Brant",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-16 13:37:21.483000,5,5.0,5.0,"Ullery, Brant",...,4,0,4,4,0,0,0,4,40.0,40.0
97,"Umoh, Eva",NaN,2009.0,"Levine, Neil","Slade, Michael",2007-08-08 09:42:35.077000,10,10.0,10.0,"Umoh, Eva",...,0,0,4,4,4,4,0,4,44.0,44.0
98,"Upshaw, Jenica",NaN,2008.0,"Lieth, Douglas","Slade, Michael",2007-07-16 08:49:31.187000,5,5.0,5.0,"Upshaw, Jenica",...,4,0,4,4,4,4,0,0,44.0,44.0
99,"Vranas, Kelly",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-07-27 09:30:12.280000,7.5,7.5,7.5,"Vranas, Kelly",...,4,4,4,4,4,0,4,4,52.0,52.0
100,"Wagner, Audrey",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 12:17:23.793000,7.5,7.5,7.5,"Wagner, Audrey",...,0,0,4,0,4,4,4,4,40.0,40.0
101,"Weisholtz, Daniel",NaN,2008.0,"Levine, Neil","Slade, Michael",2008-02-26 11:15:25.297000,10,10.0,10.0,"Weisholtz, Daniel",...,0,0,4,0,4,0,0,4,36.0,36.0
102,"Yeoh, Melvyn",NaN,2008.0,"Levine, Neil","Slade, Michael",2007-08-07 10:16:55.107000,10,10.0,10.0,"Yeoh, Melvyn",...,0,4,4,4,0,0,0,4,36.0,36.0

# 2010

In [112]:
overalldf_2008 = load_data(2008)

Empty DataFrame
Columns: []
Index: []
      Student Name_Ad_TW  School ID_Ad_TW  Class Year_Ad_TW  \
0           Adler, Karen              NaN            2008.0
1              Ala, Owen              NaN            2008.0
2        Bauman, Jessica              NaN            2008.0
3       Blumenthal, Jill              NaN            2008.0
4         Bomsztyk, Elan              NaN            2008.0
5       Bradshaw, Chanda              NaN            2008.0
6        Brooks, Gabriel              NaN            2008.0
7        Burton, Rebecca              NaN            2008.0
8         Cannon, Donald              NaN            2008.0
9       Casemyr, Natalie              NaN            2008.0
10          Chen, Connie              NaN            2008.0
11   Chevalier, Michelle              NaN               NaN
12           Choi, Jason              NaN            2008.0
13            Chu, David              NaN            2008.0
14        Cimino, Ashley              NaN               NaN
15     Colantino, Alison              NaN            2008.0
16         Collins, Sean              NaN            2008.0
17     Connors, Nicholas              NaN            2008.0
18            Costa, Ana              NaN            2008.0
19       Daines, William              NaN            2008.0
20       Davis, Adrienne              NaN            2008.0
21     Deobhakta, Avnish              NaN            2008.0
22        Deshpande, Ohm              NaN            2008.0
23         Diamond, Elan              NaN            2008.0
24           Doyle, Lucy              NaN            2008.0
25   Enschede, Elizabeth              NaN               NaN
26        Epstein, Jason              NaN            2008.0
27         Ford, Michael              NaN            2008.0
28        Fraser, Claire              NaN            2008.0
29         Gade, Terence              NaN            2008.0
..                   ...              ...               ...
73          Offor, Nneka              NaN            2008.0
74        Perry, Challon              NaN            2008.0
75      Pickering, Dacia              NaN               NaN
76        Pineda, Miguel              NaN            2008.0
77     Prograis, Shannon              NaN               NaN
78         Rafii, Dahlia              NaN            2008.0
79      Raymond, Marissa              NaN            2008.0
80      Richards, Bryson              NaN               NaN
81       Riley, Isaretta              NaN            2008.0
82          Rodney, John              NaN            2008.0
83        Rossi, Anthony              NaN            2008.0
84    Santomasso, Bianca              NaN            2008.0
85      Scherer, Matthew              NaN            2008.0
86      Schreck, Barbara              NaN            2008.0
87         Shieh, Albert              NaN            2008.0
88         Sinha, Smrita              NaN            2008.0
89        Sjulson, Lucas              NaN            2008.0
90        Slade, Michael              NaN               NaN
91          Soares, Marc              NaN            2008.0
92       Spengler, Emily              NaN            2008.0
93           Teo, Esther              NaN            2009.0
94           Terry, Alon              NaN            2008.0
95     Turbendian, Harma              NaN            2008.0
96         Ullery, Brant              NaN            2008.0
97             Umoh, Eva              NaN            2009.0
98        Upshaw, Jenica              NaN            2008.0
99         Vranas, Kelly              NaN            2008.0
100       Wagner, Audrey              NaN            2008.0
101    Weisholtz, Daniel              NaN            2008.0
102         Yeoh, Melvyn              NaN            2008.0

    Patient Name_Ad_TW Evaluator Name_Ad_TW        Exam Date/Time_Ad_TW  \
0       Lieth, Douglas       Slade, Michael  2008-02-26 14:10:14.607000
1         Levine, Neil       Slade, Michael  2007-07-26 13:39:22.607000
2         Levine, Neil       Slade, Michael  2007-07-24 14:17:59.450000
3         Levine, Neil       Slade, Michael  2007-07-19 12:58:09.873000
4         Levine, Neil       Slade, Michael  2007-08-07 13:09:17.340000
5         Levine, Neil       Slade, Michael  2007-07-23 10:22:39.263000
6         Levine, Neil       Slade, Michael  2007-07-23 09:00:29.950000
7       Lieth, Douglas       Slade, Michael  2007-07-18 09:01:02.750000
8         Levine, Neil       Slade, Michael  2007-08-07 09:49:27.077000
9       Lieth, Douglas       Slade, Michael  2007-07-18 12:45:17.183000
10        Levine, Neil       Slade, Michael  2007-07-25 13:10:41.327000
11                 NaN                  NaN                         NaN
12        Levine, Neil       Slade, Michael  2007-07-23 13:50:15.357000
13        Levine, Neil       Slade, Michael  2007-08-08 10:34:58.513000
14                 NaN                  NaN                         NaN
15        Levine, Neil       Slade, Michael  2007-07-24 13:25:21.153000
16        Levine, Neil       Slade, Michael  2007-08-07 10:42:54.030000
17      Lieth, Douglas       Slade, Michael  2007-07-18 13:11:18.060000
18        Levine, Neil       Slade, Michael  2007-07-26 13:13:05.170000
19      Lieth, Douglas       Slade, Michael  2007-07-18 10:22:21.217000
20        Levine, Neil       Slade, Michael  2007-07-23 12:31:26.077000
21      Lieth, Douglas       Slade, Michael  2008-02-26 13:42:50.903000
22        Levine, Neil       Slade, Michael  2007-07-24 13:51:33.797000
23        Levine, Neil       Slade, Michael  2007-07-24 09:31:16.343000
24      Lieth, Douglas       Slade, Michael  2007-07-16 09:55:51.060000
25                 NaN                  NaN                         NaN
26      Lieth, Douglas       Slade, Michael  2007-07-18 12:17:02.327000
27        Levine, Neil       Slade, Michael  2007-07-24 09:58:31.687000
28       Alcock, Kevin       Slade, Michael  2008-03-05 10:13:00.030000
29        Levine, Neil       Slade, Michael  2007-08-08 09:12:35.920000
..                 ...                  ...                         ...
73        Levine, Neil       Slade, Michael  2007-07-23 12:57:31.653000
74        Levine, Neil       Slade, Michael  2007-07-27 13:53:51.577000
75                 NaN                  NaN                         NaN
76        Levine, Neil       Slade, Michael  2007-07-26 09:54:40.043000
77                 NaN                  NaN                         NaN
78        Levine, Neil       Slade, Michael  2007-08-06 08:58:49.903000
79        Levine, Neil       Slade, Michael  2007-08-06 10:19:16.717000
80                 NaN                  NaN                         NaN
81      Lieth, Douglas       Slade, Michael  2007-07-18 14:03:52.060000
82        Levine, Neil       Slade, Michael  2007-07-19 09:52:27.327000
83        Levine, Neil       Slade, Michael  2007-07-25 13:37:50.373000
84        Levine, Neil       Slade, Michael  2008-02-26 10:48:41.013000
85        Levine, Neil       Slade, Michael  2007-07-27 09:56:33.093000
86        Levine, Neil       Slade, Michael  2007-07-26 08:59:21.657000
87      Lieth, Douglas       Slade, Michael  2007-07-16 09:27:09.780000
88        Levine, Neil       Slade, Michael  2007-07-27 12:34:44.997000
89       Alcock, Kevin       Slade, Michael  2008-03-05 09:18:13.420000
90                 NaN                  NaN                         NaN
91      Lieth, Douglas       Slade, Michael  2007-07-16 14:03:19.233000
92        Levine, Neil       Slade, Michael  2007-07-26 10:47:22.593000
93      Lieth, Douglas       Slade, Michael  2007-07-16 12:43:50.607000
94        Levine, Neil       Slade, Michael  2007-07-24 12:59:24.123000
95        Levine, Neil       Slade, Michael  2007-08-07 09:17:30.950000
96      Lieth, Douglas       Slade, Michael  2007-07-16 13:37:21.483000
97        Levine, Neil       Slade, Michael  2007-08-08 09:42:35.077000
98      Lieth, Douglas       Slade, Michael  2007-07-16 08:49:31.187000
99        Levine, Neil       Slade, Michael  2007-07-27 09:30:12.280000
100       Levine, Neil       Slade, Michael  2007-08-07 12:17:23.793000
101       Levine, Neil       Slade, Michael  2008-02-26 11:15:25.297000
102       Levine, Neil       Slade, Michael  2007-08-07 10:16:55.107000

    Q1_DR_Ad_TW  Total_DR_Ad_TW  Total_Ad_TW   Student Name_SP_TW  \
0            10            10.0         10.0         Adler, Karen
1           7.5             7.5          7.5            Ala, Owen
2            10            10.0         10.0      Bauman, Jessica
3           7.5             7.5          7.5     Blumenthal, Jill
4           7.5             7.5          7.5       Bomsztyk, Elan
5           7.5             7.5          7.5     Bradshaw, Chanda
6            10            10.0         10.0      Brooks, Gabriel
7             5             5.0          5.0      Burton, Rebecca
8           7.5             7.5          7.5       Cannon, Donald
9            10            10.0         10.0     Casemyr, Natalie
10          7.5             7.5          7.5         Chen, Connie
11          NaN             NaN          NaN  Chevalier, Michelle
12           10            10.0         10.0          Choi, Jason
13            5             5.0          5.0           Chu, David
14          NaN             NaN          NaN       Cimino, Ashley
15          7.5             7.5          7.5    Colantino, Alison
16          7.5             7.5          7.5        Collins, Sean
17          7.5             7.5          7.5    Connors, Nicholas
18          7.5             7.5          7.5           Costa, Ana
19           10            10.0         10.0      Daines, William
20          7.5             7.5          7.5      Davis, Adrienne
21           10            10.0         10.0    Deobhakta, Avnish
22           10            10.0         10.0       Deshpande, Ohm
23          7.5             7.5          7.5        Diamond, Elan
24            5             5.0          5.0          Doyle, Lucy
25          NaN             NaN          NaN  Enschede, Elizabeth
26          7.5             7.5          7.5       Epstein, Jason
27            5             5.0          5.0        Ford, Michael
28          7.5             7.5          7.5       Fraser, Claire
29          7.5             7.5          7.5        Gade, Terence
..          ...             ...          ...                  ...
73          7.5             7.5          7.5         Offor, Nneka
74          7.5             7.5          7.5       Perry, Challon
75          NaN             NaN          NaN     Pickering, Dacia
76           10            10.0         10.0       Pineda, Miguel
77          NaN             NaN          NaN    Prograis, Shannon
78            5             5.0          5.0        Rafii, Dahlia
79            5             5.0          5.0     Raymond, Marissa
80          NaN             NaN          NaN     Richards, Bryson
81            5             5.0          5.0      Riley, Isaretta
82           10            10.0         10.0         Rodney, John
83          7.5             7.5          7.5       Rossi, Anthony
84            5             5.0          5.0   Santomasso, Bianca
85           10            10.0         10.0     Scherer, Matthew
86          7.5             7.5          7.5     Schreck, Barbara
87          7.5             7.5          7.5        Shieh, Albert
88           10            10.0         10.0        Sinha, Smrita
89           10            10.0         10.0       Sjulson, Lucas
90          NaN             NaN          NaN       Slade, Michael
91          7.5             7.5          7.5         Soares, Marc
92            5             5.0          5.0      Spengler, Emily
93           10            10.0         10.0          Teo, Esther
94            5             5.0          5.0          Terry, Alon
95           10            10.0         10.0    Turbendian, Harma
96            5             5.0          5.0        Ullery, Brant
97           10            10.0         10.0            Umoh, Eva
98            5             5.0          5.0       Upshaw, Jenica
99          7.5             7.5          7.5        Vranas, Kelly
100         7.5             7.5          7.5       Wagner, Audrey
101          10            10.0         10.0    Weisholtz, Daniel
102          10            10.0         10.0         Yeoh, Melvyn

        ...       Q7_Hx_SP_LAP  Q8_Hx_SP_LAP Q9_Hx_SP_LAP Q10_Hx_SP_LAP  \
0       ...                  4             4            4             4
1       ...                  4             0            4             0
2       ...                  4             0            4             0
3       ...                  4             0            4             0
4       ...                  4             4            4             0
5       ...                  0             4            4             4
6       ...                  0             0            4             4
7       ...                  4             4            4             4
8       ...                  0             0            4             4
9       ...                  4             4            4             4
10      ...                  4             0            4             0
11      ...                NaN           NaN          NaN           NaN
12      ...                  4             0            4             4
13      ...                  4             0            4             0
14      ...                NaN           NaN          NaN           NaN
15      ...                  0             0            4             4
16      ...                  4             0            4             0
17      ...                  0             0            4             0
18      ...                  4             4            4             4
19      ...                  4             4            4             0
20      ...                  4             4            4             4
21      ...                  4             0            4             4
22      ...                  4             0            4             0
23      ...                  0             0            4             0
24      ...                  4             4            4             0
25      ...                NaN           NaN          NaN           NaN
26      ...                  4             0            4             0
27      ...                  0             4            4             4
28      ...                  0             0            4             0
29      ...                  0             0            4             0
..      ...                ...           ...          ...           ...
73      ...                  4             0            4             4
74      ...                  0             4            0             0
75      ...                  4             0            4             4
76      ...                  0             4            4             0
77      ...                NaN           NaN          NaN           NaN
78      ...                  4             0            4             4
79      ...                  0             0            4             0
80      ...                NaN           NaN          NaN           NaN
81      ...                  4             0            4             0
82      ...                  4             0            4             0
83      ...                  4             0            4             0
84      ...                  4             0            4             0
85      ...                  0             0            4             0
86      ...                  4             4            4             0
87      ...                  4             0            4             0
88      ...                  4             0            4             0
89      ...                  4             0            4             0
90      ...                NaN           NaN          NaN           NaN
91      ...                  4             0            4             0
92      ...                  4             4            4             4
93      ...                  4             4            4             4
94      ...                  4             4            4             4
95      ...                  0             0            4             4
96      ...                  4             0            4             4
97      ...                  0             0            4             4
98      ...                  4             0            4             4
99      ...                  4             4            4             4
100     ...                  0             0            4             0
101     ...                  0             0            4             0
102     ...                  0             4            4             4

    Q11_Hx_SP_LAP Q12_Hx_SP_LAP Q13_Hx_SP_LAP Q14_Hx_SP_LAP Total_Hx_SP_LAP  \
0               4             4             4             4            56.0
1               4             4             0             4            44.0
2               0             4             4             4            44.0
3               4             4             0             4            44.0
4               0             0             0             4            36.0
5               4             4             0             4            48.0
6               4             0             0             4            40.0
7               4             4             4             4            56.0
8               4             0             0             4            40.0
9               4             4             4             4            52.0
10              4             4             4             4            44.0
11            NaN           NaN           NaN           NaN             NaN
12              0             4             0             0            40.0
13              4             0             0             4            40.0
14            NaN           NaN           NaN           NaN             NaN
15              0             0             0             4            36.0
16              4             0             4             4            44.0
17              0             4             0             4            32.0
18              4             4             4             4            56.0
19              4             4             0             4            44.0
20              0             0             0             4            44.0
21              0             0             0             4            40.0
22              0             4             0             4            40.0
23              4             0             0             4            36.0
24              4             4             4             4            52.0
25            NaN           NaN           NaN           NaN             NaN
26              4             4             0             4            40.0
27              4             0             0             4            40.0
28              0             4             0             4            32.0
29              4             0             0             4            36.0
..            ...           ...           ...           ...             ...
73              4             0             0             4            40.0
74              0             0             0             0            20.0
75              4             0             4             4            48.0
76              4             0             0             4            36.0
77            NaN           NaN           NaN           NaN             NaN
78              4             4             0             4            48.0
79              0             0             0             4            24.0
80            NaN           NaN           NaN           NaN             NaN
81              4             4             4             4            48.0
82              0             0             0             4            32.0

In [118]:
overalldf_2009 = load_data(2009)

Empty DataFrame
Columns: []
Index: []
        Student Name_SP_TW  School ID_SP_TW  Class Year_SP_TW  \
0            Abbey, Ashkan              NaN               NaN
1       Angarita, Benjamin              NaN            2009.0
2        Aniukwu, Jideofor              NaN               NaN
3            Austin, Naola              NaN            2009.0
4       Ayodele, Maranatha              NaN            2009.0
5          Barnhard, Sarah              NaN               NaN
6          Batavia, Ashita              NaN            2009.0
7           Beesley, Sarah              NaN            2009.0
8        Bergman, Meredith              NaN            2009.0
9            Beyene, Robel              NaN               NaN
10             Bis, Sabina              NaN               NaN
11         Bobis, Fernando              NaN            2009.0
12     Bogunovic, Ljiljana              NaN            2009.0
13      Boxhorn, Christine              NaN            2009.0
14         Carlin, Rebecca              NaN            2009.0
15            Cauley, Ryan              NaN            2009.0
16         Cazales, Truman              NaN               NaN
17   Chaikhoutdinov, Irina              NaN               NaN
18          Chang, Charles              NaN            2009.0
19             Chao, Jerry              NaN            2009.0
20            Chen, Connie              NaN            2009.0
21     Chevalier, Michelle              NaN            2009.0
22            Cruz, Calvin              NaN            2009.0
23    DeStefano, Katherine              NaN               NaN
24       Fernandez, Denise              NaN               NaN
25           Frey, Melissa              NaN            2009.0
26           Gasinu, Selom              NaN               NaN
27           Goldner, Dana              NaN            2009.0
28          Gomez, Ricardo              NaN            2010.0
29         Goree, Jonathan              NaN            2009.0
..                     ...              ...               ...
80        Rachakonda, Tara              NaN            2009.0
81     Ricciardi, Benjamin              NaN               NaN
82      Richardson, Eugene              NaN            2009.0
83         Roberts, Angela              NaN               NaN
84     Rodriguez, Jennifer              NaN            2009.0
85             Rohde, Erin              NaN            2009.0
86       Rosenbaum, Daniel              NaN            2009.0
87    Rothrock, Michelanne              NaN            2009.0
88          Rubeo, Zachary              NaN            2009.0
89     Sadasivaiah, Shobha              NaN            2009.0
90       Santopolo, Alison              NaN               NaN
91        Seidman, Michael              NaN               NaN
92      Semenovskaya, Zina              NaN            2009.0
93         Shultz, Lindsey              NaN               NaN
94         Singh, Amandeep              NaN               NaN
95          Slade, Michael              NaN               NaN
96      Stessin, Alexander              NaN               NaN
97        Swails, Jennifer              NaN            2009.0
98             Teo, Esther              NaN            2009.0
99           Tran, Susanna              NaN               NaN
100      Triche, Elizabeth              NaN            2009.0
101              Umoh, Eva              NaN               NaN
102           Vajner, John              NaN            2009.0
103    Williams, Shawniqua              NaN               NaN
104             Wong, Ryan              NaN            2009.0
105          Yeung, Albert              NaN            2009.0
106           Yoon, Hannah              NaN            2009.0
107             Zaba, Lisa              NaN               NaN
108            Zang, Julie              NaN               NaN
109          Zayas, Lazaro              NaN            2009.0

    Patient Name_SP_TW Evaluator Name_SP_TW        Exam Date/Time_SP_TW  \
0                  NaN                  NaN                         NaN
1         Levine, Neil         Levine, Neil  2008-08-12 11:00:04.420000
2                  NaN                  NaN                         NaN
3         Levine, Neil         Levine, Neil  2008-08-11 12:22:50.763000
4         Levine, Neil         Levine, Neil  2008-07-22 13:26:49.560000
5                  NaN                  NaN                         NaN
6         Levine, Neil         Levine, Neil  2008-07-16 09:56:40.403000
7         Levine, Neil         Levine, Neil  2008-07-24 12:06:31.140000
8         Levine, Neil         Levine, Neil  2008-07-21 09:02:14.153000
9                  NaN                  NaN                         NaN
10                 NaN                  NaN                         NaN
11        Levine, Neil         Levine, Neil  2008-07-15 12:20:14.890000
12        Levine, Neil         Levine, Neil  2008-08-04 12:44:35.623000
13        Levine, Neil         Levine, Neil  2008-07-16 13:50:17.500000
14        Levine, Neil         Levine, Neil  2008-07-15 09:30:00.903000
15        Levine, Neil         Levine, Neil  2008-07-16 12:26:25.873000
16                 NaN                  NaN                         NaN
17                 NaN                  NaN                         NaN
18        Levine, Neil         Levine, Neil  2008-08-04 11:52:04.530000
19        Levine, Neil         Levine, Neil  2008-07-16 13:19:28.107000
20        Levine, Neil         Levine, Neil  2008-07-16 14:17:24.750000
21        Levine, Neil         Levine, Neil  2008-08-07 13:27:11.407000
22        Levine, Neil         Levine, Neil  2008-07-15 08:59:31.937000
23                 NaN                  NaN                         NaN
24                 NaN                  NaN                         NaN
25        Levine, Neil         Levine, Neil  2008-08-12 10:32:09.013000
26                 NaN                  NaN                         NaN
27        Levine, Neil         Levine, Neil  2008-08-12 12:33:34.200000
28        Levine, Neil         Levine, Neil  2008-08-04 13:11:36.843000
29        Levine, Neil         Levine, Neil  2008-07-24 10:06:30.700000
..                 ...                  ...                         ...
80      Lieth, Douglas       Lieth, Douglas  2008-07-14 12:08:36.607000
81                 NaN                  NaN                         NaN
82        Levine, Neil         Levine, Neil  2008-08-06 11:47:59.043000
83                 NaN                  NaN                         NaN
84        Levine, Neil         Levine, Neil  2008-08-07 13:00:19.607000
85        Levine, Neil         Levine, Neil  2008-08-13 13:32:24.200000
86        Levine, Neil         Levine, Neil  2008-07-16 09:02:47.123000
87        Levine, Neil         Levine, Neil  2008-07-22 13:53:01.653000
88        Levine, Neil         Levine, Neil  2008-07-22 12:30:52.983000
89        Levine, Neil         Levine, Neil  2008-07-22 12:03:05.450000
90                 NaN                  NaN                         NaN
91                 NaN                  NaN                         NaN
92        Levine, Neil         Levine, Neil  2008-07-16 10:23:35.890000
93                 NaN                  NaN                         NaN
94                 NaN                  NaN                         NaN
95                 NaN                  NaN                         NaN
96                 NaN                  NaN                         NaN
97        Levine, Neil         Levine, Neil  2008-08-04 13:33:43.077000
98        Levine, Neil         Levine, Neil  2008-08-12 09:11:02.637000
99                 NaN                  NaN                         NaN
100       Levine, Neil         Levine, Neil  2008-08-13 10:02:14.373000
101                NaN                  NaN                         NaN
102       Levine, Neil         Levine, Neil  2008-07-22 09:10:01.140000
103                NaN                  NaN                         NaN
104       Levine, Neil         Levine, Neil  2008-07-15 12:46:38.530000
105       Levine, Neil         Levine, Neil  2008-07-22 10:32:29.280000
106       Levine, Neil         Levine, Neil  2008-08-13 10:29:28.170000
107                NaN                  NaN                         NaN
108                NaN                  NaN                         NaN
109       Levine, Neil         Levine, Neil  2008-07-21 09:29:35.310000

    Q1_A_SP_TW Q2_A_SP_TW Q3_A_SP_TW Q4_A_SP_TW      ...      Q8_Hx_SP_LAP  \
0          NaN        NaN        NaN        NaN      ...               NaN
1            3          3          3          2      ...                 4
2          NaN        NaN        NaN        NaN      ...               NaN
3            4          4          3          3      ...                 0
4            3          3          4          3      ...                 4
5          NaN        NaN        NaN        NaN      ...               NaN
6            3          3          3          3      ...                 0
7            3          4          3          2      ...                 4
8            3          2          3          2      ...                 4
9          NaN        NaN        NaN        NaN      ...               NaN
10         NaN        NaN        NaN        NaN      ...               NaN
11           2          2          3          3      ...                 4
12           3          3          2          2      ...                 0
13           3          4          2          3      ...                 0
14           3          3          2          3      ...                 0
15           3          2          2          2      ...                 0
16         NaN        NaN        NaN        NaN      ...               NaN
17         NaN        NaN        NaN        NaN      ...               NaN
18           3          3          2          1      ...                 0
19           3          4          3          3      ...                 4
20           3          4          3          3      ...                 0
21           3          3          3          3      ...                 4
22           2          1          2          2      ...                 0
23         NaN        NaN        NaN        NaN      ...               NaN
24         NaN        NaN        NaN        NaN      ...               NaN
25           3          3          2          3      ...                 0
26         NaN        NaN        NaN        NaN      ...               NaN
27           3          3          2          3      ...                 0
28           3          3          2          2      ...                 0
29           3          3          2          2      ...                 4
..         ...        ...        ...        ...      ...               ...
80           2          2          2          2      ...                 4
81         NaN        NaN        NaN        NaN      ...               NaN
82           3          2          2          2      ...                 0
83         NaN        NaN        NaN        NaN      ...               NaN
84           3          2          3          2      ...                 4
85           2          2          3          3      ...                 4
86           3          4          2          2      ...                 4
87           3          4          3          3      ...                 4
88           3          3          3          2      ...                 4
89           3          3          4          2      ...                 4
90         NaN        NaN        NaN        NaN      ...               NaN
91         NaN        NaN        NaN        NaN      ...               NaN
92           3          3          3          3      ...                 0
93         NaN        NaN        NaN        NaN      ...               NaN
94         NaN        NaN        NaN        NaN      ...               NaN
95         NaN        NaN        NaN        NaN      ...               NaN
96         NaN        NaN        NaN        NaN      ...               NaN
97           3          4          2          3      ...                 0
98           2          3          3          4      ...                 0
99         NaN        NaN        NaN        NaN      ...               NaN
100          2          3          3          2      ...                 0
101        NaN        NaN        NaN        NaN      ...               NaN
102          3          3          2          3      ...                 4
103        NaN        NaN        NaN        NaN      ...               NaN
104          3          2          2          2      ...                 4
105          3          3          3          3      ...                 4
106          2          2          3          1      ...                 4
107        NaN        NaN        NaN        NaN      ...               NaN
108        NaN        NaN        NaN        NaN      ...               NaN
109          3          3          2          3      ...                 0

    Q9_Hx_SP_LAP Q10_Hx_SP_LAP Q11_Hx_SP_LAP Q12_Hx_SP_LAP Q13_Hx_SP_LAP  \
0            NaN           NaN           NaN           NaN           NaN
1              4             4             4             4             4
2            NaN           NaN           NaN           NaN           NaN
3              4             0             4             4             4
4              0             0             0             0             0
5            NaN           NaN           NaN           NaN           NaN
6              4             0             0             0             0
7              4             0             0             0             0
8              4             0             0             0             4
9            NaN           NaN           NaN           NaN           NaN
10           NaN           NaN           NaN           NaN           NaN
11             4             0             4             0             4
12             4             0             0             0             0
13             4             0             4             0             0
14             4             0             0             4             0
15             4             0             0             0             0
16           NaN           NaN           NaN           NaN           NaN
17           NaN           NaN           NaN           NaN           NaN
18             0             0             0             0             0
19             4             0             4             4             0
20             4             0             0             0             0
21             4             0             4             0             0
22             4             0             0             4             0
23           NaN           NaN           NaN           NaN           NaN
24           NaN           NaN           NaN           NaN           NaN
25             4             4             4             4             0
26           NaN           NaN           NaN           NaN           NaN
27             4             4             4             0             0
28             4             4             0             0             0
29             4             0             0             0             4
..           ...           ...           ...           ...           ...
80             4             0             4             4             4
81           NaN           NaN           NaN           NaN           NaN
82             4             4             4             0             0
83           NaN           NaN           NaN           NaN           NaN
84             0             0             0             4             0
85             4             4             4             4             4
86             4             0             4             4             0
87             4             4             4             0             0
88             4             0             0             0             0
89             4             0             4             4             4
90           NaN           NaN           NaN           NaN           NaN
91           NaN           NaN           NaN           NaN           NaN
92             4             0             4             4             4
93           NaN           NaN           NaN           NaN           NaN
94           NaN           NaN           NaN           NaN           NaN
95           NaN           NaN           NaN           NaN           NaN
96           NaN           NaN           NaN           NaN           NaN
97             4             0             0             4             4
98             4             4             4             4             4
99           NaN           NaN           NaN           NaN           NaN
100            4             4             4             4             0
101          NaN           NaN           NaN           NaN           NaN
102            4             0             0             0             0
103          NaN           NaN           NaN           NaN           NaN
104            4             0             0             0             0
105            4             4             4             4             4
106            4             4             4             4             0
107          NaN           NaN           NaN           NaN           NaN
108          NaN           NaN           NaN           NaN           NaN
109            4             0             0             4             0

     Q14_Hx_SP_LAP  Q15_Hx_SP_LAP Total_Hx_SP_LAP  Total_SP_LAP
0              NaN            NaN             NaN           NaN
1                4              0            56.0          56.0
2              NaN            NaN             NaN           NaN
3                4              4            48.0          48.0
4                4              0            32.0          32.0
5              NaN            NaN             NaN           NaN
6                4              0            36.0          36.0
7                4              0            36.0          36.0
8                4              4            44.0          44.0
9              NaN            NaN             NaN           NaN
10             NaN            NaN             NaN           NaN
11               4              0            40.0          40.0
12               4              4            36.0          36.0
13               4              0            36.0          36.0
14               4              4            44.0          44.0
15               4              0            32.0          32.0
16             NaN            NaN             NaN           NaN
17             NaN            NaN             NaN           NaN
18               4              0            24.0          24.0
19               4              0            48.0          48.0
20               4              0            28.0          28.0
21               4              4            48.0          48.0
22               4              0            40.0          40.0
23             NaN            NaN             NaN           NaN
24             NaN            NaN             NaN           NaN
25               4              0            48.0          48.0
26             NaN            NaN             NaN           NaN
27               4              4            48.0          48.0
28               4              0            36.0          36.0
29               4              0            40.0          40.0
..             ...            ...             ...           ...
80               4              4            48.0          48.0
81             NaN            NaN             NaN           NaN
82               4              0            36.0          36.0
83             NaN            NaN             NaN           NaN
84               4              0            32.0          32.0
85               4              4            60.0          60.0

In [119]:
overalldf_2009

,Student Name_SP_TW,School ID_SP_TW,Class Year_SP_TW,Patient Name_SP_TW,Evaluator Name_SP_TW,Exam Date/Time_SP_TW,Q1_A_SP_TW,Q2_A_SP_TW,Q3_A_SP_TW,Q4_A_SP_TW,...,Q8_Hx_SP_LAP,Q9_Hx_SP_LAP,Q10_Hx_SP_LAP,Q11_Hx_SP_LAP,Q12_Hx_SP_LAP,Q13_Hx_SP_LAP,Q14_Hx_SP_LAP,Q15_Hx_SP_LAP,Total_Hx_SP_LAP,Total_SP_LAP
0,"Abbey, Ashkan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Angarita, Benjamin",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 11:00:04.420000,3,3,3,2,...,4,4,4,4,4,4,4,0,56.0,56.0
2,"Aniukwu, Jideofor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Austin, Naola",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-11 12:22:50.763000,4,4,3,3,...,0,4,0,4,4,4,4,4,48.0,48.0
4,"Ayodele, Maranatha",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 13:26:49.560000,3,3,4,3,...,4,0,0,0,0,0,4,0,32.0,32.0
5,"Barnhard, Sarah",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Batavia, Ashita",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 09:56:40.403000,3,3,3,3,...,0,4,0,0,0,0,4,0,36.0,36.0
7,"Beesley, Sarah",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-24 12:06:31.140000,3,4,3,2,...,4,4,0,0,0,0,4,0,36.0,36.0
8,"Bergman, Meredith",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-21 09:02:14.153000,3,2,3,2,...,4,4,0,0,0,4,4,4,44.0,44.0
9,"Beyene, Robel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Bis, Sabina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Bobis, Fernando",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-15 12:20:14.890000,2,2,3,3,...,4,4,0,4,0,4,4,0,40.0,40.0
12,"Bogunovic, Ljiljana",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-04 12:44:35.623000,3,3,2,2,...,0,4,0,0,0,0,4,4,36.0,36.0
13,"Boxhorn, Christine",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 13:50:17.500000,3,4,2,3,...,0,4,0,4,0,0,4,0,36.0,36.0
14,"Carlin, Rebecca",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-15 09:30:00.903000,3,3,2,3,...,0,4,0,0,4,0,4,4,44.0,44.0
15,"Cauley, Ryan",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 12:26:25.873000,3,2,2,2,...,0,4,0,0,0,0,4,0,32.0,32.0
16,"Cazales, Truman",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Chaikhoutdinov, Irina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Chang, Charles",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-04 11:52:04.530000,3,3,2,1,...,0,0,0,0,0,0,4,0,24.0,24.0
19,"Chao, Jerry",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 13:19:28.107000,3,4,3,3,...,4,4,0,4,4,0,4,0,48.0,48.0
20,"Chen, Connie",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 14:17:24.750000,3,4,3,3,...,0,4,0,0,0,0,4,0,28.0,28.0
21,"Chevalier, Michelle",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-07 13:27:11.407000,3,3,3,3,...,4,4,0,4,0,0,4,4,48.0,48.0
22,"Cruz, Calvin",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-15 08:59:31.937000,2,1,2,2,...,0,4,0,0,4,0,4,0,40.0,40.0
23,"DeStefano, Katherine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Fernandez, Denise",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Frey, Melissa",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 10:32:09.013000,3,3,2,3,...,0,4,4,4,4,0,4,0,48.0,48.0
26,"Gasinu, Selom",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Goldner, Dana",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 12:33:34.200000,3,3,2,3,...,0,4,4,4,0,0,4,4,48.0,48.0
28,"Gomez, Ricardo",NaN,2010.0,"Levine, Neil","Levine, Neil",2008-08-04 13:11:36.843000,3,3,2,2,...,0,4,4,0,0,0,4,0,36.0,36.0
29,"Goree, Jonathan",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-24 10:06:30.700000,3,3,2,2,...,4,4,0,0,0,4,4,0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,"Rachakonda, Tara",NaN,2009.0,"Lieth, Douglas","Lieth, Douglas",2008-07-14 12:08:36.607000,2,2,2,2,...,4,4,0,4,4,4,4,4,48.0,48.0
81,"Ricciardi, Benjamin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,"Richardson, Eugene",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-06 11:47:59.043000,3,2,2,2,...,0,4,4,4,0,0,4,0,36.0,36.0
83,"Roberts, Angela",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,"Rodriguez, Jennifer",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-07 13:00:19.607000,3,2,3,2,...,4,0,0,0,4,0,4,0,32.0,32.0
85,"Rohde, Erin",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-13 13:32:24.200000,2,2,3,3,...,4,4,4,4,4,4,4,4,60.0,60.0
86,"Rosenbaum, Daniel",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 09:02:47.123000,3,4,2,2,...,4,4,0,4,4,0,4,4,48.0,48.0
87,"Rothrock, Michelanne",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 13:53:01.653000,3,4,3,3,...,4,4,4,4,0,0,4,0,48.0,48.0
88,"Rubeo, Zachary",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 12:30:52.983000,3,3,3,2,...,4,4,0,0,0,0,4,0,36.0,36.0
89,"Sadasivaiah, Shobha",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 12:03:05.450000,3,3,4,2,...,4,4,0,4,4,4,4,4,52.0,52.0
90,"Santopolo, Alison",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,"Seidman, Michael",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,"Semenovskaya, Zina",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-16 10:23:35.890000,3,3,3,3,...,0,4,0,4,4,4,4,0,48.0,48.0
93,"Shultz, Lindsey",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,"Singh, Amandeep",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,"Slade, Michael",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"Stessin, Alexander",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,"Swails, Jennifer",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-04 13:33:43.077000,3,4,2,3,...,0,4,0,0,4,4,4,4,48.0,48.0
98,"Teo, Esther",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-12 09:11:02.637000,2,3,3,4,...,0,4,4,4,4,4,4,0,48.0,48.0
99,"Tran, Susanna",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,"Triche, Elizabeth",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-13 10:02:14.373000,2,3,3,2,...,0,4,4,4,4,0,4,4,52.0,52.0
101,"Umoh, Eva",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,"Vajner, John",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 09:10:01.140000,3,3,2,3,...,4,4,0,0,0,0,4,0,40.0,40.0
103,"Williams, Shawniqua",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,"Wong, Ryan",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-15 12:46:38.530000,3,2,2,2,...,4,4,0,0,0,0,4,0,40.0,40.0
105,"Yeung, Albert",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-22 10:32:29.280000,3,3,3,3,...,4,4,4,4,4,4,4,4,52.0,52.0
106,"Yoon, Hannah",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-08-13 10:29:28.170000,2,2,3,1,...,4,4,4,4,4,0,4,0,52.0,52.0
107,"Zaba, Lisa",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,"Zang, Julie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,"Zayas, Lazaro",NaN,2009.0,"Levine, Neil","Levine, Neil",2008-07-21 09:29:35.310000,3,3,2,3,...,0,4,0,0,4,0,4,4,44.0,44.0